@import "tailwindcss";

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
